body{
    background-color: #222b31;
    overflow-x: hidden;
    color: white;
}
.navbar {
    background-color: #ff424f;
    color: white;
}

.nav-avatar {
    font-size: 2rem;
    
    
}
.nav-searchbar {
    margin-left: 12rem;
}

.movies-container {
    margin: 2rem;
}

.error {
    font-size: 1rem;
}

.navbar{
    background-color: #ff424f;
}
.fav, .movies-container, p{
    color: #000;
}

.moviepage-container p{
    color: #FFF;
}

.login .menu {
    display: none;
}