body {
    background-color: #222b31;
}
.navbar {
    background-color: #ff424f;
    color: white;
}

.nav-avatar {
    font-size: 2rem;
    margin-left: 30rem;
    
}
.nav-searchbar {
    margin-left: 15rem;
}

.movies-container {
    margin: 2rem;
}
