body {
    background-color: #222b31;
    overflow-x: hidden;
}
.navbar {
    background-color: #ff424f;
    color: white;
}

.nav-avatar {
    font-size: 2rem;
    margin-left: 20rem;
    
}
.nav-searchbar {
    margin-left: 12rem;
}

.movies-container {
    margin: 2rem;
}

.error {
    font-size: 1rem;
}
